p {
    text-align: center;
    font-size: large;
    font-family: sans-serif;
    max-width: 800px;
    margin: 0 auto 20px auto;
}

h1 {
    font-family: sans-serif;
    text-align: center;
}

#survey-form {
    padding: 20px;
    box-shadow: 5px 5px 5px grey;
    background-color:  #faa4bd;
    border-radius: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
}

#accept-email {
    margin-top: 20px;
    margin-bottom: 20px;
}

#why-options div {
    margin: 5px;
}

#why-other {
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea {
    border-radius: 10px;
    width: 790px;
    height: 70px;
}

button {
    margin: 20px auto 10px auto;
    height: 30px;
    width: 100px;
    align-items: center;
    border-radius: 10px;
    border: none;
    font-family: sans-serif;
}

button:hover {
    box-shadow: 1px 1px 1px black;
}
